/* eslint-disable css-modules/no-unused-class */

// Import Variables
@import '../../variables';

// Import Bootstrap
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/print';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';

// Text selection
::-moz-selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $primary;
    color: $white;
    text-shadow: none;
}

// No-JavaScript notice
noscript {
    display: block;
    margin: 2em auto;
    padding: 1em;
    font: 100 2em sans-serif;
    text-align: center;
}

// Font Awesome button fix
.btn-lg {
    [class*='fa-'] {
        vertical-align: -0.2rem;
    }
}