@import '../../styles/variables';

.root {
    z-index: 1;
}

.link {
    color: $secondary;
    font-size: 0.75rem;
    padding-top: 0.75rem;
}

.gameInfo {
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -75px;
}

.icon {
    font-size: 1.25rem;
}

@supports (backdrop-filter: blur(15px)) {
    .root {
        background: rgba($white, 0.75);
        backdrop-filter: blur(15px);
    }
}
