@import '../../variables';

.root {
    z-index: 1;
}

.link {
    text-decoration: none;
}

.navLink {
    width: max-content;
    font-size: 0.75rem;
    padding-top: 0.75rem;
}

.gameInfoContainer {
    position: absolute;
    width: 280px;
    left: 50%;
    margin-left: -140px;
}

.icon {
    font-size: 1.25rem;
}

@include media-breakpoint-down(md) {
    .gameInfoContainer {
        width: auto;
        position: initial;
        margin-left: 0;
    }

    .gameInfo {
        font-size: 1rem;
    }
}

@include media-breakpoint-down(xs) {
    .gameInfo {
        text-align: left;
    }
}

@supports (backdrop-filter: blur(15px)) {
    .root {
        background: rgba($white, 0.75);
        backdrop-filter: blur(15px);
    }
}
